<app-asociatie-header>
  <mat-card class="ajutor-card">
    <mat-card-content>
      <mat-accordion class="ajutor-headers-align">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cum creez un apartament?
            </mat-panel-title>
          </mat-expansion-panel-header>
          Vizitați pagina "Apartamente", apăsați butonul  "Creare apartament" și introduceți datele solicitate.
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cum modific datele contului?
            </mat-panel-title>
          </mat-expansion-panel-header>
          Vizitați pagina "Date cont" din meniul din partea dreaptă și modificați datele.
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cum modific datele asociației?
            </mat-panel-title>
          </mat-expansion-panel-header>
          Vizitați pagina "Date asociație" din meniul din partea dreaptă și modificați datele.
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cum creez un serviciu?
            </mat-panel-title>
          </mat-expansion-panel-header>
          Vizitați pagina "Servicii", apăsați butonul  "Creare serviciu" și introduceți datele solicitate.
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cum creez un contor?
            </mat-panel-title>
          </mat-expansion-panel-header>
          Vizitați pagina "Servicii" și creați un serviciu. În serviciul nou creat apăsați butonul  "Contoare" și în partea dreaptă, sus, apasați butonul  "Creare contor".
          Alegeți tipul contorului creat și introduceți datele cerute.
        </mat-expansion-panel>


        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cum introduce cheltuielile?
            </mat-panel-title>
          </mat-expansion-panel-header>
          Vizitați pagina "Cheltuieli", apăsați butonul  "Introducere cheltuială" și introduceți datele solicitate.
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cum generez avizierul?
            </mat-panel-title>
          </mat-expansion-panel-header>
          Asigurați-vă că toate contoarele au indexul completat și vizitați pagina "Facturi".
          Apăsați butonul  "Generare facturi", selectați luna pentru care vreți să creați avizierul și apăsați generare facturi.
        </mat-expansion-panel>


        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cum creez o asociație?
            </mat-panel-title>
          </mat-expansion-panel-header>
          Apăsați butonul "Creare asociație" din bara de meniu.
        </mat-expansion-panel>

      </mat-accordion>
    </mat-card-content>
  </mat-card>
</app-asociatie-header>
