.modificare-card {
  min-width: 270px;
  max-width: 270px;
  margin: 5px auto;
  box-shadow: 0 2px 10px -3px #333;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  border-radius: 4px;
}

.button-align-center {
  text-align: center;
}


tr.apartament-detail-row {
  height: 0;
}

tr.apartament-row:not(.servicii-expanded-row):hover {
  background: whitesmoke;
}

tr.apartament-row:not(.servicii-expanded-row):active {
  background: #efefef;
}

.apartament-row td {
  border-bottom-width: 0;
}

.apartament-detail {
  overflow: hidden;
  display: flex;
}

.apartament-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.apartament-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.apartament-description {
  padding: 16px;
}

.apartament-description-attribution {
  opacity: 0.5;
}

.buttonpadding {
  margin: 0px 10px 0px 10px;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}
