<app-locatar-header>
  <mat-card class="ajutor-card">
      <mat-card-content>
  <mat-accordion class="ajutor-headers-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cum plătesc factura?
        </mat-panel-title>
      </mat-expansion-panel-header>
Vizitați pagina facturii, apăsați butonul din dreapta "Platește factura" și introduceți datele cardului.
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cum modific datele contului?
        </mat-panel-title>
      </mat-expansion-panel-header>
      Vizitați pagina "Date cont" din meniul din partea dreaptă și modificați datele.
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cum folosesc pagina pentru înlocuirea produselor?
        </mat-panel-title>
      </mat-expansion-panel-header>
      Faceți click pe "Înlocuire produse" din meniul din partea dreaptă.
      Introduceți bugetul pe care vreți să il alocați pentru înlocuirea produselor.
      Alegeți produsele pe care vreți să le înlocuiți și apăsați butonul căutare.
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cum creez o asociație?
        </mat-panel-title>
      </mat-expansion-panel-header>
     Apăsați butonul "Creare asociație" din bara de meniu.
    </mat-expansion-panel>

  </mat-accordion>
      </mat-card-content>
  </mat-card>
</app-locatar-header>
